html {
    scroll-behavior: smooth;
}
body {
    padding-top: 0;
}
a {
    color: white;
    text-decoration: none;
}
a:hover,a:focus,a:active {
    text-decoration: underline;
    text-underline-position: under;
}
.accent {
    color: cornflowerblue;
}

header {
    position: fixed;
    top:0;
    z-index: 3;
}
header .navbar .wrapper {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show,
header .navbar a.active {
    
}

header .copyright {
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    z-index: 3;
}
header .copyright a {
    color: cornflowerblue;
}
.navbar-brand small {
    display: none;
}

.navbar-toggler {
    position: relative;
    width: 3rem;
    height: 4rem;    
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
}
.navbar-toggler span {
    display: block;
    position: absolute;
    width: 100%;
    height: .25rem;
    margin: 0;
    padding: 0;
    background: white;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
.middle-bar {
    margin-top: 0;
}
/* state when the nav is close */
.navbar-toggler.collapsed .top-bar {
    top: 1rem;
    transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    top: 2rem;
    filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
    top: 3rem;
    transform: rotate(0deg);
}
/* state when navigation is open */
.navbar-toggler .top-bar {
    top: inherit;
    transform: rotate(135deg);
}
.navbar-toggler .middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
}


main {
    position: relative;
}
main .hero {
    position: relative;
    top: 4rem;
    width: 100%;
    height: 100vw;
    overflow: hidden;
}
main .hero::before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../images/bg-wave.svg);
    background-position: top left;
    background-repeat: no-repeat;
    z-index: 1;
    animation-name:fadein;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}
main .hero img {
    display: block;
    animation-name:zoomout;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
main>section {
    min-height:50vh;
}
main>section h3 {
    margin-bottom: 1rem;
}
main>section p {
    margin-bottom: 1rem;
}
.diagonal {
    position: relative;
    padding: 20px 0;    
}
.diagonal:before {
    content: "";
    position: absolute;
    bottom: 60px;
    top: 60px;
    left: 0;
    right: 0;
    transform: skewY(-3deg);
    background-color: black;
    z-index: 0;   
}
.diagonal div {
    position: relative;
    color: white;
    z-index: 1;
}
main .contact {
    position: relative;
    width: 100%;
}
main .contact::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../images/bg-wave.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    transform: rotateZ(180deg);
    opacity: .25;
    z-index: 0;
}
main .contact div {
    position: relative;
    color: white;
    z-index: 1;
}

@media (width >= 992px) {  
    .h3, h3 {
        font-size: 1.75rem;
    }
    header {
        position: relative;
        top:0;
    }
    .navbar-brand small {
        display: block;
    }
    header .navbar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;
    }

    header .navbar  .wrapper {
        display: block;
        align-items: left;
        justify-content: unset;
        margin: 0;
        padding: 3rem;
    }
    header .copyright {
        width: auto;
        z-index: 1;
    }

    main .hero {
        top: 0;
        height: 100vh;
    }
    main .contact strong {
        float:left;
        width:100px;
    }
}

@media (width >= 1200px) {  
    .h3, h3 {
        font-size: 1.5rem;
    }
}

@keyframes zoomout {
    0% {
        -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        transform: translateY(-100px);
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
    }
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes zoomin {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-4rem);
        -ms-transform: translateY(-4rem);
        transform: translateY(-4rem);
    }
    25% {
        opacity: 1;
        -webkit-transform: translateY(6rem);
        -ms-transform: translateY(6rem);
        transform: translateY(6rem);
    }
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadein {
    0% {
        -webkit-transform: scale(3);
        -ms-transform: scale(3);
        transform: scale(3);
        opacity:0;
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 0.25;
    }
}

