@font-face {
  font-family: 'social';
  src:  url('https://media.busyrooms.co/fonts/icomoon/social.eot?gx17vo');
  src:  url('https://media.busyrooms.co/fonts/icomoon/social.eot?gx17vo#iefix') format('embedded-opentype'),
    url('https://media.busyrooms.co/fonts/icomoon/social.ttf?gx17vo') format('truetype'),
    url('https://media.busyrooms.co/fonts/icomoon/social.woff?gx17vo') format('woff'),
    url('https://media.busyrooms.co/fonts/icomoon/social.svg?gx17vo#social') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-social-"], [class*=" icon-social-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'social' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social-glide:before {
  content: "\e904";
}
.icon-social-digg:before {
  content: "\e910";
}
.icon-social-googleplus:before {
  content: "\e906";
}
.icon-social-tripadvisor:before {
  content: "\e907";
}
.icon-social-youtube:before {
  content: "\e909";
}
.icon-social-pinterest:before {
  content: "\e90a";
}
.icon-social-xing:before {
  content: "\e920";
}
.icon-social-stumbleupon:before {
  content: "\e916";
}
.icon-social-delicious:before {
  content: "\e917";
}
.icon-social-skype:before {
  content: "\e918";
}
.icon-social-vimeo:before {
  content: "\e919";
}
.icon-social-rss:before {
  content: "\e91a";
}
.icon-social-telegram:before {
  content: "\e91b";
}
.icon-social-spotify:before {
  content: "\e91c";
}
.icon-social-whatsapp:before {
  content: "\e91d";
}
.icon-social-share:before {
  content: "\e91e";
}
.icon-social-facebook:before {
  content: "\e90c";
}
.icon-social-linkedin:before {
  content: "\e90d";
}
.icon-social-twitter:before {
  content: "\e90f";
}
.icon-social-flickr:before {
  content: "\e912";
}
.icon-social-blog:before {
  content: "\e914";
}
.icon-social-instagram:before {
  content: "\e915";
}
