{% extends "layout.html" %}
{% block pagetitle %} Welcome {% endblock %}
{% block swipper %} 
    <!-- swipper with images and captions -->
    <section data-handler="free-block" data-method="swipper">
        <div id="index-swipper-carousel-large" class="carousel carousel-fade slide" data-ride="carousel" data-interval="5000">
            <ol class="carousel-indicators horizontal">
            {% for teaser in teasers %}
                <li data-target="#index-swipper-carousel-large" data-slide-to="{{ loop.index-1 }}"{% if loop.index == 1 %} class="active"{% endif %}>0{{ loop.index }}</li>
            {% endfor %}
            </ol>
            <div class="carousel-inner">
            {% for teaser in teasers %}
                <div class="carousel-item mb-0{% if loop.index == 1 %} active{% endif %}">
                    <figure>
                        <img src="{{ imagepath }}/{{ teaser.hero }}_1500x630.jpg" alt="{{ teaser.title }}">
                        <figcaption>
                            <h5>
                                Welcome to {{ companyname }}                                                                                  
                            </h5>
                            <h2>{{ teaser.title }}</h2>
                        </figcaption>
                    </figure>
                </div> 
            {% endfor %}
            </div> 
        </div> 
        
    </section>  
{% endblock %}
{% block content %}
    <!-- text block default - center class -->
    <article data-handler="free-block" data-method="text">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h5>Web Design</h5>
                    <h2>Welcome to {{ companyname }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">                   
                    <p>
                    {{ intro }} 
                    </p>
                </div>
            </div> 
        </div> 
    </article>

    <!-- facilities | list NEW: PARALLAX WINDOW -->
    <section data-handler="facilities" data-method="icons" class="parallax-window" data-parallax="scroll" data-image-src="{{ imagepath }}/company-16_1500x630.jpg" data-natural-width="1500" data-natural-height="630">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h5 class="title">Facilities</h5>
                    <h2>Services in our company</h2>
                    <ul class="list-inline">
                        {% for service in services %}
                        {% if service.title %}
                            <li class="list-inline-item">
                                <i class="icon-service-facilities-{{ service.icon }}"></i>
                                <br>
                                <span>{{ service.title }}</span>
                            </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- testimonials | will slide if more then 1 -->
    <section class="highlight-block" data-handler="free-block" data-method="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Testimonials</h5>
                    <h2>What our guests say</h2>
                    <a href="free-blocks.html" class="btn-details">
                        <span data-hover="about us">Read more</span>
                    </a> 
                </div>
                <div class="col-md-8 text-center">
                    <div class="slick-carousel slick-one">
                        {% for testimonial in testimonials %}
                        <div class="slick-item">
                            <blockquote class="slick-testimonal">{{ testimonial.text }}</blockquote>
                            <span class="slick-name">{{ testimonial.author }}</span> 
                        </div>
                        {% endfor %}                            
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- services | list with icons and title OLD PARALLAX -->
    <section class="media parallax bg-black" data-handler="services" data-method="list" style="background-image: url('{{ imagepath }}/company-39.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h5 class="title">Services</h5>
                    <h2>{{ companyname }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-8 mx-auto">
                    <ul class="list-icons">
                        {% for service in services %}
                        {% if service.title %}
                        <li>
                            <span>
                                <i class="icon-service-facilities-{{ service.icon }}"></i>{{ service.title }}
                            </span>
                        </li>
                        {% endif %}                        
                        {% endfor %}                        
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact form -->
    <article data-handler="file" data-method="display">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h5>
                        Do you have a question?
                    </h5>
                    <h2>Contact us</h2>
                    <p>Please fill up all mandatory fields.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% include "contact-form.html" %}
                </div>
            </div>
        </div>
    </article>    
{% endblock %}