<footer>
    <div class="container blocks">
        <div class="row">
            <div class="col-12 col-md-4 mb-3 mb-sm-0 footer-address">
                <h6>{{ companyname }}</h6>
                <address>
                    <span>{{ companystreet }}</span>
                    <span>{{ companycity }}</span>
                    <span>{{ companycountry }}</span>
                </address>
            </div>
            <div class="col-12 col-md-4 mb-3 mb-sm-0 footer-menu">
                <h6>Quicklinks</h6>
                <ul>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="legal.html">Legal</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 mb-3 mb-sm-0 footer-form">

            </div>
        </div>
    </div>
    <div class="container copyright">
        <div class="row">
            <div class="col-12 text-center text-md-left">
                <a href="https://sukedesign.de">
                    &copy; powered by SukeDesign. All rights reserved.
                </a>
            </div>
        </div>
    </div>
</footer>
